#headers {
    display: inline-flexbox;
}
#month-change-prev {
    float: left;
}

#month-change-next {
    width: 5%;
    float: right;
}

#month-shown {
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    width: 10%;
}

#change-date:hover {
    font-size: xx-large;
    background-color: aliceblue;
}

@media screen and (max-width: 640px) {
    #headers {
        background-color: red;
        color: blue;
    }    
}

/* #headers {
    text-align: center;
} */