#headers {
    display: inline-flexbox;
}
#month-change-prev {
    display: flex;
    margin-left: 3%;
    justify-content: left;
}

#month-change-next {
    width: 5%;
    float: right;
}

#month-shown {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    width: 10%;
    left: 50%;
}

@media screen and (max-width: 640px) {
    #headers {
        background-color: red;
        color: blue;
    }    
}

/* #headers {
    text-align: center;
} */