#menu-items {
    background-color: darkgrey;
    padding: 3%;
    font-size: larger;
}

#menu-items ul {
    list-style-type: none;
}

#menu-items li {
    display: inline;
    margin-left: 5%;
    color: black;
}

#menu-items li a {
    color: black;
    text-decoration: none;
}

#menu-items li a:hover {
    font-size: xx-large;
    background-color: aliceblue;
}