#filter-archive {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#filter-archive button {
    font-size: medium;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 10%;
    border-radius: 5px;
}
#filter-fandom {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#filter-fandom button {
    font-size: medium;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 10%;
    border-radius: 5px;
}
button:hover {
    color: white;
    background-color: black;
}

#filter-results {
    width: 40%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
#filter-results span {
    background-color: darkgrey;
}
#number {
    margin-left: 5%;
}

#no-story-warning {
    text-align: center;
}

#remove-stories {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#remove-stories button {
    font-size: medium;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 10%;
    border-radius: 5px;
    margin-top: 3%;
}

.edit-story {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: medium;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 10%;
    border-radius: 5px;
}

.edit-story a{
    text-decoration: none;
    color: black;
}

.edit-story a:hover {
    text-decoration: none;
    color: black;
    color: white;
}