.story-card {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin: 5%;
    padding-left: 2%;
}

#story-title {
    text-align: center;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 10%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}
dd {
    float: left;
    width: 90%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}